@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
.speedometer {
  border-radius: 100px 100px 0 0;
  border-bottom: none;
}

.speedometer::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 50px;
  background: #999999;
  border-radius: 100% 100% 5px 5px;
  left: calc(50% - 3px);
  bottom: 3px;
  transform-origin: bottom;
  transform: rotate(calc(var(--r) * 1.8deg - 90deg));
}

.animation-play {
  animation-play-state: running;
}

.animation-stop {
  animation-play-state: paused;
}

text {
  text-anchor: middle;
  alignment-baseline: central;
  font-size: 12px;
  font-family: sans-serif;
}

#circle {
  transition: 0.3s linear;
}

input {
  display: block;
  width: 300px;
  margin: 30px auto;
}

p {
  transform: scale(1.4);
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  background: #070335;
}

::-webkit-scrollbar {
  margin-top: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  padding-top: 3px;
  background: none;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.app-container {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  text-align: center;
  background: radial-gradient(
    ellipse farthest-corner at center top,
    #012619,
    #000
  );
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.app-container .header-container {
  font-family: 'Comfortaa', cursive;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 12px;
  padding-bottom: 1rem;
}

.app-container .chart-container {
  display: flex;
  justify-content: center;
}

.custom-tooltip {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  height: 50px;
  width: 124px;
  padding: 5px 10px;
}

.custom-tooltip .label {
  padding: 4px 0;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.price-container {
  display: flex;
  font-size: 18px;
  height: 18px !important;
  line-height: 18px !important;
  align-content: flex-start;
  padding: 0 !important;
  margin: 0 !important;
}

.price-container > p:first-of-type {
  font-family: 'Comfortaa', cursive;
  margin: 0;
  height: 18px;
  line-height: 18px;
  font-size: 18px;
}

.ticker-column-container {
  font-family: 'Comfortaa', cursive;
  height: 18px !important;
  line-height: 18px !important;
  overflow: hidden;
}

.ticker-column {
  height: 180px;
}

.ticker-column > .ticker-digit {
  height: 18px !important;
  line-height: 18px !important;
}

.ticker-column > .ticker-digit > span {
  height: 18px !important;
  line-height: 18px !important;
}
